* {
  font-family: sans-serif !important;
}

span a {
  color: white !important;
  text-decoration: none !important;
}

#main-content {
  position: relative;
  margin: 0 auto;
  display: grid;
  border-radius: 20px;
  margin-left: 10px;
  margin-top:0px;
  margin-right: 20px;
  padding-left: 20px;
}

#footer {
  position: relative !important;
  text-align: center !important;
  justify-content: center !important;
  margin: 0 auto !important;
  color:white;

  font-size:90%
}
#topbar {
 position: relative;
 top: -50;
 left:-10;
 margin-top: -8px;
 margin-left: -8px;
 margin-right: -8px;
}

#sidebar {
  position: relative;
  top: -50;
  left:-10;
  margin-left: -8px;
  margin-right: 15px;
  float: left;
 }

 html {
  background-image: linear-gradient(to bottom right, rgb(15, 17, 90), rgb(34, 12, 70));
 }

 .list {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}
