* {
  font-family: sans-serif !important;
}

html {
  background-image: linear-gradient(to bottom right, rgb(15, 17, 90), rgb(34, 12, 70));
 }

a {
    color: rgb(63, 165, 179) !important;
    text-decoration: none;
}

#main-content {
  position: relative;
  margin: 0 auto;
  display: grid;
  border-radius: 20px;
  margin-left: 10px;
  margin-top:0px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 15px;
}

#main-content-m {
  position: relative;
  margin: 0 auto;
  display: grid;
  border-radius: 20px;
  
  margin-top:8%;
  padding-left: 3%;
  padding-right: 3%;
}

hr {
  color: linear-gradient(to left rgba(0,0,0,1), rgba(0,0,0,0))!important;
}

#topbar {
 position: relative;
 top: -50;
 left:-10;
 margin-top: -8px;
 margin-left: -8px;
 margin-right: -8px;
}

#sidebar {
  position: relative;
  top: -50;
  left:-10;
  margin-left: -8px;
  margin-right: 15px;
  float: left;
 }

#sidebar a {
  color: white !important;
  text-decoration: none;
}

#footer {
  position: relative !important;
  text-align: center !important;
  justify-content: center !important;
  margin: 0 auto !important;
  color:white;

  font-size:90%
}

.hatnote {
  background-color: rgb(240, 236, 236);
  margin-top: 20px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-style: italic;
}

#hotlinks a {
  color:white !important;
  text-shadow: 0 0 5px gray !important;
}

.hatnote-m {
  background-color: rgb(240, 236, 236);
  margin-top: 10px;
  word-wrap: normal;
  border-radius: 5px;
  font-style: italic;
}

.hatnote a {
  color: black !important;
}

.list {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

img {
  justify-content: center;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 0px 3px;
}

#note {
  font-style: italic;
  font-size: 15px;
}

#note a {
  font-style: normal;
}

#caption {
  font-size: small;
  font-style: italic;
  text-align: center;
}

code {
  font-family: 'Consolas' !important;
  font-size: 14px;
  margin-bottom: 1.5%;
}

/* is-hidden-widescreen re-implementation from Bulma */
@media screen and (min-width:1081px) {
  .is-display-none-widescreen,
  .is-hidden-widescreen {
    display:none!important;
  }
}

/* is-hidden-mobile re-implementation from Bulma */
@media screen and (max-width:1080px) {
  .is-display-none-mobile,
  .is-hidden-mobile {
    display:none!important;
  }
}