<div class="container" id="page-content" style="text-align: left !important; width:100%; ">

<h2>{{ page.title }}</h2>
<hr style="width:98%; color:lightblue; text-align: left;">

<span>🅰️, officially named <i>A Button (Blood Type)</i>, is one of the many emojis on the Internet. Its primary design consists of the A letter on a red background. A Button (Blood Type) was approved as part of Unicode 6.0 in 2010 and added to the Emoji 1.0 in 2015.<br></span>
<p></p>
<span>It is one of the earliest Horibyte memes, introduced in December 2023, along with <a style="color: rgb(63, 165, 179) !important; text-decoration: none;" href="https://horibyte.is-a.dev/wiki/Horibyte_Moment/">Horibyte Moments</a>. Initially regarded by Horibyte as a "shouting emoji", the A Button emoji has since became popular among Horifans, and over time variations of it have been made by Horibyte or others.</span>
<p></p>
<img src="../img/articles/a_emoji/1.jpg" style="width:30%;justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;">
<br>
<div class="box" id="gallery-box">
    <div class="container">
<img src="../img/articles/a_emoji/a_win1.png" style="justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;">
<p style="font-size: small; font-style: italic; text-align: center;">An A drawn by Horibyte in Windows 1.0, during the <a href="https://www.youtube.com/watch?v=RS0vMHF5k8s">Upgrade Saga II</a></p>
</div>
<div class="container">
<img src="../img/articles/a_emoji/a_evil.webp" style="width:20%; height:auto; justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;">
<p style="font-size: small; font-style: italic; text-align: center;">An A made by Horibyte. <s>Origin unknown.</s> Originated from <a style="color: rgb(63, 165, 179); text-decoration: none;" href="https://wetdry.world/@horibyte/114055695481022637">a Mastodon post</a>.</p>
</div>
<div class="container">
<img src="../img/articles/a_emoji/a_stuffy.png" style="justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;"">
<p style="font-size: small; font-style: italic; text-align: center;">An A made by Horibyte to mock Meta/Facebook's own A emoji design</p>
</div>
<div class="container">
<img src="../img/articles/a_emoji/a_horicraft.png" style="width:20%; height:auto; justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;">
<p style="font-size: small; font-style: italic; text-align: center;">One side of the A building from <a href="https://horibyte.is-a.dev/wiki/Horicraft/">the original Horicraft</a>.</p>
</div></div>

</div>
