<div class="container" id="page-content" style="text-align: left !important; width:100%; ">

<h2>{{ page.title }}</h2>
<hr style="width:98%; color:lightblue; text-align: left;">

<span><b id="note1">Dogui Heavy Industries Incorporated</b><a style="color: rgb(63, 165, 179) !important; text-decoration: none; font-style: normal !important;" href="#notec1">&sup1;</a> (DHI Inc.) is a fictional Horilandese company. Its main headquarters are located in <a style="color: rgb(63, 165, 179) !important; text-decoration: none; font-style: normal !important;" href="../Fucking,_Horiland">Fucking</a>, the capital city of <a style="color: rgb(63, 165, 179) !important; text-decoration: none; font-style: normal !important;" href="../Horiland">Horiland</a>.</span><br>
<span>It has been said that works made by DHI's employees are prone to <a style="color: rgb(63, 165, 179) !important; text-decoration: none; font-style: normal !important;" href="../Horibyte_Moment">Horibyte Moments</a>.</span>
   
<p style="font-style: italic; font-size: 15px;" id="notec1"><a href="#note1" style="color: rgb(63, 165, 179) !important; text-decoration: none; font-style: normal !important;">&sup1;<span></span>&uparrow;</a> Formerly known as <b>Dogui Heavy Industries Limited</b> (DHI Ltd.) and <b>Dogui Heavy Coding Industries</b> (DHCI).</p>

</div>
    