<div class="container" id="page-content" style="text-align: left !important; width:100%; ">
<br>
<div class="box" id="not-to-be-confused-with">
    <span><i>&nbsp; Not to be confused with <a style="color:black !important;" id="link" href="../Horibyte_Power">Horibyte Power</a>.</i></span>
</div>

<style>
    #not-to-be-confused-with {
        background-color: rgb(240, 236, 236);
        margin-right: 15px;
        border-radius: 5px;
    }

    #link:hover {
        color:gray !important;
    }
</style>

<h2>{{ page.title }}</h2>
<hr style="width:98%; color:lightgray; text-align: left;">

<span><b>Horibyte Moment</b> (<i>formerly known as <b>Stuffy Moment</b></i>) are moments when Horibyte breaks any sort of tech (that being software, hardware, services, etc) in an unexpected way. They were introduced in January 2024.</span>
<p></p>

<h3 id="Types_of_Horibyte_moments">Types of Horibyte moments</h3>

<span>Horibyte moments can vary from a range of 'moment levels', with that being the following:</span>
<ul>
    <li>
        <span><b>Errors</b>: Said moments can be various errors, being just normal ones, or something extremely rare.</span>
    </li>
    <br><img src="../img/articles/horibyte_moment/error.png" alt="Dolphin warning: Invalid state, with an OK button and a Ignore for this session button but the text is cropped due to the button's size" title="Dolphin warning: Invalid state, with an OK button and a Ignore for this session button but the text is cropped due to the button's size" style="justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;">
    <p style="text-align: center; font-size: small; font-style: italic;">A Dolphin warning with a button whose text is cropped.</p>
    <li>
        <span><b>Software Gore</b>: These moments are when software breaks in a funny and weird way, these are the most common Horibyte Moments.</span>
    </li>
    <br><img src="../img/articles/horibyte_moment/software gore.jpg" alt="A photo of a KDE Plasma error window but the text is just boxes, excluding the title text, in the background, a Discord channel can be seen." title="A photo of a KDE Plasma error window but the text is just boxes, excluding the title text, in the background, a Discord channel can be seen." style="height: 480px; justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;">
    <p style="text-align: center; font-size: small; font-style: italic;">A KDE Plasma error window but the text is just boxes</p>
    <li>
        <!-- Congrats! You found the lil' easter egg! -->
        <!-- Now, on the following commented-out lines, are the actual pieces of code for this type of moment. -->
        <!-- But there are more easter eggs on this wiki, Happy finding! - Horibyte -->
        <!-- <span><b>Software Mistakes</b>: These can be mistakes that Horibyte themselves made, but break software in a way that is still considered a Horibyte Moment.</span> -->
        <span><b>Software Mistakes</b>: Some temporary string here.</span>
    </li>
</ul>

<h3 id="Gallery_of_Horibyte_Moments">Gallery of Horibyte Moments</h3>
<div class="box" id="gallery-box">
    <div class="container">
        <img src="../img/articles/horibyte_moment/mc 1.0 bug.png" alt="A Minecraft 1.0 bug where Steve's body and head are gone, same with the Achievement panel background and the items on the hotbar" title="A Minecraft 1.0 bug where Steve's body and head are gone, same with the Achievement panel background and the items on the hotbar" width="480px" style="justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;">
        <p style="font-size: small; font-style: italic; text-align: center;">A MC 1.0 window where the Steve model, hotbar and achievement get panel are all broken.</p>
    </div>
    <div class="container">
        <img src="../img/articles/horibyte_moment/winre arrow bug.jpg" alt="A context menu on the Windows 11 Recovery Environment where the arrows for the context menu sub-menus are Unicode boxes." title="A context menu on the Windows 11 Recovery Environment where the arrows for the context menu sub-menus are Unicode boxes." width="480px" style="justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;">
        <p style="font-size: small; font-style: italic; text-align: center;">A content menu on <a href="https://betawiki.net/wiki/Windows_Recovery_Environment">WinRE</a> where the arrows on the menu are Unicode boxes.</p>
    </div>
    <div class="container">
        <img src="../img/articles/horibyte_moment/help i cant get out ahh moment.jpg" alt="A Discord Mobile screenshot where the member list is shown, the back button is missing due to the app's margins." title="A Discord Mobile screenshot where the member list is shown, the back button is missing due to the app's margins." width="240px" style="justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;">
        <p style="font-size: small; font-style: italic; text-align: center;">HELP I CAN'T GET OUT - Horibyte, 2024</p>
    </div>
    <div class="container">
        <img src="../img/articles/horibyte_moment/m o o d.jpg" alt="A lot of Windows location-related errors, showing that the VMware install MSI failed to start, and showing its path in the log file, but when trying to access it, the path is unavailable." title="A lot of Windows location-related errors, showing that the VMware install MSI failed to start, and showing its path in the log file, but when trying to access it, the path is unavailable." width="480px" style="justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;">
        <p style="font-size: small; font-style: italic; text-align: center;">m o o d</p>
    </div>
    <div class="container">
        <img src="../img/articles/horibyte_moment/wmb moment.jpg" alt="A photo of a Windows Boot Manager screen where the main content is resized to its horizontal half, a reversed color pallete is also shown, with the entries' icons (Win11 and Win10) being missing as well." title="A photo of a Windows Boot Manager screen where the main content is resized to its horizontal half, a reversed color pallete is also shown, with the entries' icons (Win11 and Win10) being missing as well." width="480px" style="justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;">
        <p style="font-size: small; font-style: italic; text-align: center;">Windows Boot Manager moment</p>
    </div>
    <div class="container">
        <img src="../img/articles/horibyte_moment/holy shit.jpg" alt="A bunch of file not found errors on Windows Vista, 10 in total, the background is also a black screen." title="A bunch of file not found errors on Windows Vista, 10 in total, the background is also a black screen." width="480px" style="justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;">
        <p style="font-size: small; font-style: italic; text-align: center;">This is what I get for trying to install Windows Vista manually on a Kaby Lake PC.. - Horibyte</p>
    </div>
    <div class="container">
        <img src="../img/articles/horibyte_moment/critical error.png" alt="A command prompt window on the second phase of Windows XP setup, when trying to run 'systeminfo', an 'ERROR: Critical Error.' message appears." title="A command prompt window on the second phase of Windows XP setup, when trying to run 'systeminfo', an 'ERROR: Critical Error.' message appears." width="480px" style="justify-content: center; margin: 0 auto; display: block; box-shadow: 0px 0px 3px;">
        <p style="font-size: small; font-style: italic; text-align: center;">aw shucks - Horibyte</p>
    </div>
</div>

</div>