<div class="container" id="page-content" style="text-align: left !important; width:100%; ">

<h2>{{ page.title }}</h2>
<hr style="width:98%; color:lightgray; text-align: left;">

<span><b>Horibyte Moment</b> (<i>formerly known as <b>Stuffy Moment</b></i>) are moments when Horibyte breaks any sort of tech (that being software, hardware, services, etc) in an unexpected way. They were introduced in January 2024.</span>
<p></p>
<span>Horibyte moments can vary from a range of 'moment levels', with that being the following:</span>
<ul>
    <li>
        <span><b>Errors</b>: Said moments can be various errors, being just normal ones, or something extremely rare.</span>
    </li>
    <li>
        <span><b>Software Gore</b>: These moments are when software breaks in a funny and weird way, these are the most common Horibyte Moments.</span>
    </li>
    <li>
        <span><b>Software Mistakes</b>: Some temporary string here.</span>
    </li>
</ul>
</div>