<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} ~ HoriWiki</title>
    <link rel="shortcut icon" href="{{ page.favicon }}" type="image/x-icon">
    <link rel="me" href="https://wetdry.world/@horibyte">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css">
<meta property="og:title" content="HoriWiki">
<meta property="og:description" content="The official Horibyte Wiki [Pre-Alpha Public Release 0.1]">
<meta property="og:url" content="https://horibyte.is-a.dev/wiki/">
<meta name="theme-color" content="#ffffff">
<meta content="website" property="type">
<meta name="google-site-verification" content="juCkrJsWFUpDDiBrebgAywCVCCE90p5S7yfXBNjIlXQ" />
</head>
<body>

<div class="container" id="main-content">
{{content}}
</div>
{% include footer.html %}
</body>
</html>
